# Utilize https://github.com/boombatower/git-squash-tags to squash
# https://github.com/pantheon-systems/drops-7 and push to master-squash branch.

language: php

php:
  - 5.4

env:
  global:
  - secure: FMDbDiXaSfyaVMtuHsWmtRS6HZPBtTWD+kIIKtdkzCqJewAGGn0GhOayPKuEyi9I6BCk1GIWLnrpLmPno9QbpV8bZxRY0xQXRPslCQV1DxWgRBamVckA8EOfjE7irDwrzAoymhJJrlrCz0zCFt7k0G6EuESk+jJN9FsclfXbqZU=

# http://stackoverflow.com/questions/18027115/committing-via-travis-ci-failing
script:
  - git config --global user.email "thor@boombatower.com"
  - git config --global user.name "Supreme Commander Thor"
  - git clone https://github.com/boombatower/git-squash-tags.git
  - git clone https://github.com/pantheon-systems/drops-7.git
  - cd drops-7
  - ../git-squash-tags/git-squash-tags 7*
  - git remote add boombatower git@github.com:boombatower/pantheon-systems-drops-7.git
  - git config credential.helper "store --file=.git/credentials"
  - echo "https://${GH_TOKEN}:@github.com" > .git/credentials
  - git push -f boombatower master-squash
